*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-variant: small-caps;
    font-family: sans-serif;
}

#current{color: rgb(250, 214, 169);}



a{
    text-decoration: none;
    display: inline-block;
}

body{
    background-color: rgb(24, 19, 48);

    background-image:url(images/hero-bg.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body::before{
    content: "";
    position: fixed;
    background-attachment: scroll;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: .6;
    z-index: -1;
}


#logo{
    font-family:cursive; 
    color: rgb(248, 169, 73); 
    font-size: 2em;
    margin: auto;
    text-align: center;
    padding-top: 12px;
}

nav{background-color: rgba(0, 0, 0, 0.664);}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    padding-left: 30px;
}
nav ul a:hover{
    color: rgb(250, 214, 169);
}
nav ul{
    margin-left:25%;
    display: inline-block;
}

.title 
{
    color: rgb(248, 169, 73);
}

.container
{
    margin-left: 200px;
    margin-top: 50px;
}

.container .title
{
    font-size: 40px;
}

.container form .empty
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .empty .box
{
  margin : 20px 0 20px 0;
  width: calc(100% / 2 - 20px);
}

.empty .box .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.empty .box input
{
    height: 25px;
    width: 80%;
    color: black;
    font-family: sans-serif;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    outline : none;
    opacity: .6;
    
}

form .button
{
    height: 45px;
    width: 90%;
    margin: 40px 0 ;
}

form .button input
{
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: cursive;
    font-weight: 500;
    border-radius: 5px; 
    border:none;
    font-size: 20px;
    outline : none;
    background-color: rgb(248, 169, 73);
    color: white;
    letter-spacing:1px ;

    

}

form .button input:hover 
{
  background-color: white  ;
  color: rgb(248, 169, 73);
}

 
